*{
    margin: 0%;
}

#img1{
    height: 10vh;
    width: 15vw;
    position: absolute;
    z-index: 31;

    top: 5%;
    left:41%;

}

#an1{
    color: white;
    position: absolute;
    position: 50;
    top: 56%;
    left:41%;
}
#nu1{
    position: absolute;
    z-index: 50; 
    top:6vh;
    left:45vw;
    background:transparent;
    height: 60px;
    width: 150px; 
    color: white;
    /* background-image:url("menu-hover-img.png");     */
    border: none;   
}

#nu3:hover{
    background-color:#181819;
    opacity: 0.6;
    height: 60px;
    width: 120px; 
    font-size:large;    
}
#nu2:hover{
    background-color:#181819;
    opacity: 0.6;
    height: 60px;
    width: 120px; 
    font-size:large;    
}
#nu1:hover{
    background-color:#181819;
    opacity: 0.6;
    height: 60px;
    width: 120px; 
    font-size:large;    
}
#nu2{
    position: absolute;
    z-index: 55; 
    top:6vh;
    left:55vw;
    background:transparent;
    height: 60px;
    width: 150px; 
    color: white;
    /* background-image:url("menu-hover-img.png");     */
    border: none;   
}
#nu3{
    position: absolute;
    z-index: 56; 
    top:6vh;
    left:65vw;
    background:transparent;
    height: 60px;
    width: 150px; 
    color: white;
    /* background-image:url("menu-hover-img.png");     */
    border: none;   
}
#img2{
    height: 10vh;
    width: 15vw;
    position: absolute;
    z-index: 32;

    top: 5%;
    left:52%;

}
#img3{
    height: 10vh;
    width: 15vw;
    position: absolute;
    z-index: 33;

    top: 5%;
    left:63%;

}
#i1{
    position: relative;
    z-index: 1;
}
#i2{
    position: absolute;
    z-index: 2;
    top:85vh;
    right: 23%;
}
#i3{
    position: absolute;
    z-index: 3;
    top: 24%;
    right:22%;
}
#i4{
    position: absolute;
    z-index: 5;
    top: 10v;
    left:41%;
}
#i5{
    position: absolute;
    z-index: 6;
    top: 15%;
    left:41%;
}
#i6{
    position: absolute;
    z-index: 7;
    bottom: 18%;
    right:40%;
}
#i7{
    position: absolute;
    z-index: 8;
    top: 40px;
    left: 320px;
}
#p2{
   position: absolute;
   z-index: 8;
   top: 23%; 
   left: 48%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 600;
   font-size: 20px;
}
#p3{
    position: absolute;
    z-index: 9;
    top: 28%;
    left: 53%;
    font-size: 25px;
}
#p4{
    position: absolute;
    z-index: 10;
    top:33%;
    left: 39%;
    color: #b1beb9;
    font-size: 16px;
}
#p5{
    position: absolute;
    z-index: 11;
    bottom: 39%;
    left:32%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 600;
   font-size: 20px;
}
#p6{
    position: absolute;
    z-index: 12;
    font-size: 24px;
    bottom: 34%;
    left:25%;
}
#p7{
    position: absolute;
    z-index: 12;
    font-size: 25px;
    color: #b1beb9;
    font-size: 16px;
    bottom: 25%;
    left: 20%;
}
#but1{
    position: absolute;
    z-index: 13; 
    bottom: 52%;
    right: 34%;
    height: 40px;
    width: 200px; 
    color: white;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);    
    border: none;  
}
#put1{
    position: absolute;
    z-index: 14; 
    bottom: 17%;
    left: 35%;
    height: 42px;
    width: 200px; 
    color: white;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);    
    border: none;     
}


#ia1{
    position: absolute;
    z-index: 20;
    top:98vh;
}
.pg two{
    margin-top: 0%;
    padding: 0%;
}
#ia10{
    position: absolute;
    z-index:25;
    top:123vh;
    left: 31.5vw;
    height: 350px;
    width: 350px;
}
 #ia4{
    position: absolute;
    z-index: 25;
    top: 98vh;
    left: 20vw;
    height: 354px;
    width: 353px;
}
#ia5{
    position: absolute;
    z-index: 26;
    top: 148vh;
    left: 20.5vw;
    height: 350px;
    width: 350px;
} 
#pb1{
    position: absolute;
    z-index: 23;
    top: 118%; 
    right:13vw;
    color: #b1beb9;
}
#pb2{
    position: absolute;
    z-index: 24;
    top: 158%; 
    right:13vw;
    color: #b1beb9;
}
#ia2{
    position: absolute;
    z-index: 21;
    top: 118%;
    left: 51%;
}
#ia3{
    position: absolute;
    z-index: 22;
    top: 160%;
    left: 51%;
}

#sp1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #1686be ;
}
#sp2{
    font-size: 24px;
    color: white; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ib1{
    position: relative;
    z-index: 30;
    margin: 0%;
    padding: 0%;
}
#lg1{
    position: absolute;
    z-index: 36;
    left: 29vw;
    top: 115vh;
}
#lg2{
    position: absolute;
    z-index: 37;
    left: 37vw;
    top: 135vh;
    text-align: center;
}
#lg3{
    position: absolute;
    z-index: 38;
    left: 29vw;
    top: 165vh;
}
i{
    color: white;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 9px;
    height: 9px;
    text-align: center;
    margin: 5px 2px;
}
  
.fa:hover{
      opacity: 0.7;
}
  
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-rss{
    background: #ff6600;
    color: white;
}

#ib1{
    position: absolute;
    z-index: 30;
    top:195vh;
}
#p1{
    position: absolute;
    z-index: 31;
    top: 205vh;
    left: 40%;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: 800; */
}

#mm1{
    /* background: url("./textarea-img\ \(1\).png"); */
    position: absolute;
    z-index: 32;
    top: 210vh;
    left: 42%;
    width: 400px;
}
#mm2{
    position: absolute;
    z-index: 37;
    left:43.0vw;
    top: 223vh;
    border: 0%;
    background-color: 0%;
}
input{
    border: 0%;
    border-radius: 0%;
}
#til{
    position: absolute;
    z-index: 33;
    left:52.1vw;
    top: 220vh;
}
#ti2{
    position: absolute;
    z-index: 34;
    left:55.8vw;
    top: 252vh;
}
#ti3{
    position: absolute;
    z-index: 35;
    left:47.3vw;
    top: 233vh;
}
#ti4{
    position: absolute;
    z-index: 36;
    left:43.3vw;
    top: 223vh;
}
#ti5{
    position: absolute;
    z-index: 37;
    left:38.7vw;
    top: 213vh;
}
iframe{
    position:absolute;
    z-index: -1;
    top: 202vh;
    left: 240px;
    height: 450px;
    width: 650px;
}
#www{
    position: absolute;
    z-index: 37;
    border: 0%;
    top: 254vh;
    left: 66%;
    font-size: 18px;
    color: white;
}


#message{
    position: absolute;
    z-index: 39;
    left:54.3vw;
    top: 236vh;
    background: url("./textarea-img\ \(1\).png");
    color: white;
    height: 70px;
    width: 250px;
    border: 0%;
    font-size: 15px;
    border-style: hidden;
}
#name{
    position: absolute;
    z-index: 40;
    top: 213.9vh;
    left: 46vw;
    color: white;
    background: url("./textarea-img\ \(1\).png");
    height: 35px;
    
    border: 0%;
    font-size: 15px;
    border-style: hidden;
}
#email{
    position: absolute;
    z-index: 41;
    top: 224vh;
    left: 48vw;
    color: white;
    background: url("./textarea-img\ \(1\).png");
    height: 35px;
    
    border: 0%;
    font-size: 15px;
    border-style: hidden;
}
footer{
    height: 110px;
    width:98.9vw;
    top: 262vh;
    color: white;
    background-color: black;
    bottom: 0%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large; 
}